

:root.theme-dark {
  --page-bg-color: #000028;
  --h1-color: #db00ff;
  --section-title-color: #000028;
  --title-color: #ff0070;
  --title-bg-color: #ff0070;
  --p-color: #f1b2ce;
  --accent-color: #ff0070;
  --menu-color: #ff0070;
  --menu-hover-color: rgb(255, 0, 112, 0.4);
  --cover-image: url("../images/cover-image-dark.png");
}
