
:root.theme-dark {
  --page-bg-color: #000028;
  --main-title-color: #db00ff;
  --section-title-color: #000028;
  --article-title-color: #ff0070;
  --article-title-bg-color: #ff0070;
  --content-color: #f1b2ce;
  --cover-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --menu-color: #ff0070;
  --menu-hover-color: rgb(255, 0, 112, 0.4);
}
