:root.theme-light {
    --page-bg-color: #fff1f7;
    --main-title-color: #ffc2e6;
    --section-title-color: #353430;
    --article-title-color: #353430;
    --article-title-bg-color: #ff8dcb;
    --content-color: #353430;
    --accent-color: #ff8dcb;
    --menu-color: #353430;
    --menu-hover-color: rgb(50, 49, 45, 0.4);
    --cover-image: url("../images/cover-image-light.png");
}

.theme-light .rec-decoration {
  display: none;
}

.theme-light .footer__page-title {
  --accent-color: #ff0070;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-color: #fff1f7;
    --main-title-color: #ffc2e6;
    --section-title-color: #353430;
    --article-title-color: #353430;
    --article-title-bg-color: #ff8dcb;
    --content-color: #353430;
    --accent-color: #ff8dcb;
    --menu-color: #353430;
    --menu-hover-color: rgb(50, 49, 45, 0.4);
    --cover-image: url("../images/cover-image-light.png");
  }

  .rec-decoration {
    display: none;
  }

  .theme-dark .rec-decoration {
    display: flex;
  }

  .theme-light .footer__page-title {
    --accent-color: #ff0070;
  }
}